<div align="center">

  <h1> Login </h1>

  <div class="col-4">

    <%= form_for(:session) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
      <%= link_to "Register!", register_path, class: "btn btn-primary" %>

  <% end %>

  </div>

</div>