<div align="center">

  <h1> Register </h1>

  <div class="col-4">

    <%= form_for(@user) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation , class: 'form-control' %>

      <%= f.submit "Register", class: "btn btn-primary" %>

    <% end %>

    <%= render partial: "shared/form_error_msg", locals: {obj: @user} %>

  </div>

</div>
