<%= tinymce %>

<div align="center">

  <h1> Create Post </h1>

    <%= form_for(@post, url: admin_posts_path) do |f| %>
    <div class="col-4">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
      <div class="col-10">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control tinymce', rows: '15', cols: '100' %>
      </div>

      <%= f.label :picture %>
      <%= f.file_field :picture %>

      <%= f.submit "Create post", class: "btn btn-primary" %>

    <% end %>

    <%= render partial: "shared/form_error_msg", locals: {obj: @post} %>

</div>