<h1> Edit post </h1>

<div class="row">
  <div class="col-3">
    <%= form_for(@post) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>

      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
  <%= link_to "Delete post", post_path, :method => :delete %>
  </div>
</div>