 <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4"><%= @post.title %></h1>

        <!-- Post Content -->
        <p><%= simple_format(@post.content) %></p>

        <% if can? :edit, @post %>
          <%= link_to "Edit post", edit_post_path(@post.id), class: "btn btn-primary" %>
        <% end %>

        <% if can? :create, Comment %>
          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <%= form_for @post, url: comments_path(post_id: @post.id), :method => :post do |f| %>
                  <%= f.fields_for :comment do |f| %>
                    <div class="form-group">
                      <%= f.text_area :content, class: 'form-control', rows:"3" %>
                    </div>
                      <%= f.submit "Submit", class: "btn btn-primary" %>
                  <% end %>
                <%= render partial: "shared/form_error_msg", locals: {obj: @comment} %>

            <% end %>
            </div>
          </div>
        <% end %>

        <% @post.comments.each do |comment| %>
          <!-- Single Comment -->
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0"><%= comment.user.email %></h5>
              <div id="comment<%= comment.id %>"><%= comment.content %></div>
            </div>

            <% if can? :edit, comment %>
              <%= link_to "Edit", edit_comment_path(id: comment.id) , class: "btn btn-primary", remote: true, id: "comment"+comment.id.to_s %>
            <% end %>
            <% if can? :destroy, comment %>
              <%= link_to "Delete", comment_path(id: comment.id), :method => :delete , class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>

      </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


</body>

</html>
